#back{
    background:url("../images/maksim-larin-ezdrvzA1hZw-unsplash.jpg");
    background-size:cover;
    background-position:center;
}
#btn-branch-modal {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}

#btn-branch-modal:hover {
    background: rgba(255, 255, 255, 0.14);
    transform: scale(1.05);
    color: black;
}

/* Add this to your common CSS file */

.table-transparent {
    background: transparent !important;
}

.table-hover thead {
    backdrop-filter: blur(20px);
}

.table-hover thead th {
    background: transparent !important;
    color: #FFFFFF !important;
    font-size: 13px;
}

.table-hover tbody {
    font-size: 14px;
    background: transparent !important;
}


