#back{
    background:url("../images/walking-with-light-shoes-street-rain-ai-generated.jpg");
    background-size:cover;
    background-position:center;

}

#btn-add-customer{
    height: 50px!important;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}


#btn-add-customer:hover{
    background: rgba(255, 255, 255, 0.14);
    transform: scale(1.05);
    color: black;
}